
* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #333333;
		margin: 0;
}

li {
	list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

p, ul, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

button {
	font-family: 'Raleway', sans-serif;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
}

.container {
    margin: 0 auto;
		padding: 0px 40px;
    max-width: 1200px;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #2c3e50;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.modal {
	position: fixed;
	top: 60px;
	width: 600px;
	padding: 1rem;
	background: #fff;
	z-index: 1000;
	left: 50%;
	border-radius: 0px 5px;
	transform: translateX(-50%);
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .35);
}

.nav__route.active {
	background: rgba(196, 196, 196, 0.2);
	border-radius: 0px 5px;
}

.slash-headlines {
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
  line-height: 170%; 
}

.hd-main-page {
	font-size: 29px;
	font-weight: 800;
}

.orange {
	color: #F88500;
}

.dark {
	color: #333333;
}

.flex-horizontal {
	display: flex;
	justify-content: space-between;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.public-links {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.public-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 0px 5px;
}

.link-30 {
	width: 30px;
	height: 30px;
}

.gap-10 {
	gap: 10px;
}

.common-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 170%;
}

.link-more {
	font-size: 15px;
	font-weight: 800;
	text-decoration-line: underline;
}

.head-content {
	font-size: 15px;
	font-weight: 400;
}

.orange-button {
	background: #F88500;
	border-radius: 0px 5px;
}

.bold-subtitle {
	font-weight: 800;
	font-size: 18px;
}

.hd-pages {
	font-weight: 900;
	font-size: 24px;
	text-transform: uppercase;
}